.BtnWrap{
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}
.BtnWrap:hover::after{
    background-color: #FBB03B;
}
.BtnWrap:hover{
    color: #fff;
}
.BtnWrap:hover svg path{
    stroke: #fff;
}
.BtnWrap::before{
    content: "";
    background: linear-gradient(90deg, #FBB03B 0%, rgba(251, 199, 117, 0.46) 100%);
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -2;
    border-radius: 32px;
}
.BtnWrap::after{
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 32px;
}
.galleryWrap{
    grid-template-areas: "a a a b b"
                        "a a a c c"                        
    ;
}

@media screen and (max-width: 575px) {
    .galleryWrap{
        grid-template-areas: "a a" "b c" 
        ;
    }
    .galleryWrap div img{
        min-height: 115px;
        object-fit: cover;
    }
    .BtnWrap svg{
        width: 16px;
    }
}